.CambiarPasswordParent {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 150px;
}

.CambiarPassword {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 500px;
    height: 300px;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;

    border-radius: 7.5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-container-CP {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;

    column-gap: 20px;
    margin-top: 20px;
}

.grid-container-CP input[type="text"]{
    width: 200px;
    padding: 10px;
    margin-top: 5px;
}

.grid-container-CP2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

.grid-container-CP2 button {
    background-color: green;
    color: white;
    border-radius: 5px;
    border: 0px solid;  

    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;

    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.alerta {
    font-weight: bold;
    margin-top: 20px;

}