.DashboardAdmin{
  width: 100%;
  min-height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.cards ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

#abajo{
  margin-bottom: 1.5em;
}

.separation{
  display: flex;
  gap: 20px;
}

.cards li {
  background:#2ea32b; 
  color: white; 
  border-radius: 8px; 
  padding: 20px 30px;
  gap: 1em;

  display: flex;
  align-items: center; 
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  
}

.dashboard-content{
  display: flex;
  gap: 2em;
  align-items: flex-start;
}

.btn-ver-todos{
  font-family: 'Orbitron';
  text-align: center;
  font-size: 13px;
  background-color: #2ea32b;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-ver-todos:hover{
  background-color: #218838;
}

.user-table{
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  border: 1px solid #ccc;
  border-collapse: separate;
}

.user-table th, .user-table td{
  padding: 12px 15px;
  vertical-align: middle;
}

.user-table thead th{
  font-size: 0.9em;
  color: #555;
}

.user-cell{
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-cell img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.accion-buttons button {
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.85em;
}

.action-buttons{
  display: flex;
  gap: 8px;
}


.action-buttons button{
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Orbitron';
  font-size: 0.85em;
  transition: filter 0.2s, box-shadow 0.2s;   
  white-space: nowrap;
}

.action-buttons button:hover {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    filter: brightness(0.95);
}

.btn-action{
  color: white;
}

.btn-deactivate, .btn-activate{
  background-color: #2ea32b;
}

/*Fila Superior*/
.top-row{
  display: flex;
  gap: 2em;
  align-items: flex-start;
}

.column-left{
  flex: 3;
  display: flex;
  flex-direction: column;
}

.column-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.column-right{
  flex: 2;
  display: flex;
  flex-direction: column;
}

.user-avatar {
  width: 160px;
  height: 160px;
  object-fit: contain;
}

.user-detail-card{
  background: #ffffff;
  padding: 1.5em;
  margin: 0%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  border: 1px solid #ccc;
  border-collapse: separate;
}

.user-info {
  display: flex;
}