
.footer {
    width: 100%;
    background: gray;
    padding: 1.5em 2em;
    text-align: center;          
    left: 0;
    margin: 0;
}

/* El resto de tu CSS para el footer sigue igual */
.footer-links {
    display: flex;
    justify-content: center;
    gap: 1em;
}
.footer-link {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}
.footer-img{
    width: 2%;
}
.footer-link:hover {
    text-decoration: underline;
}