.ListarCategoria {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;

    min-height: 100vh;
}

.ListarCategoria h1 {   
    font-size: 25px;
}

.grid-container-ListarCategoria {
    display: grid;
    grid-template-columns: 80% 15%;
    justify-content: space-between;
}

.grid-container-ListarCategoria input[type="text"]{
    padding: 5px;
}

.grid-container-ListarCategoria button {
    background-color: green;
    color: white;
    border-radius: 5px;
    border: 0px solid;  

    padding-top: 7.5px;
    padding-bottom: 7.5px;

    font-size: 12px;
}

.ListarCategoria table {
    margin-top: 25px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    text-align: center;
}

.ListarCategoria th {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ListarCategoria tr {
    border-bottom: 1px solid #ccc;
}

.ListarCategoria td {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid-container-td-ListarCategorias {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    column-gap: 5px;
}

.grid-container-td-ListarCategorias img {
    width: 25px;
    height: 25px;
    cursor: pointer;    
}

.LCId {border-right: 1px solid #ccc;}
.LCAcciones {border-left: 1px solid #ccc;}