body {
    background-color: rgba(117, 113, 113, 0.46);
}

.ListarCategoria {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.ListarCategoria h1 {
    font-size: 25px;
}

.grid-container-ListarCategoria {
    display: grid;
    grid-template-columns: 80% 15%;
    justify-content: space-between;

    
}

.grid-container-ListarCategoria input[type="text"]{
        padding: 5px;
}

.grid-container-ListarCategoria button {
    background-color: green;
    color: white;
    border-radius: 5px;
    border: 0px solid;  

    padding-top: 7.5px;
    padding-bottom: 7.5px;

    font-size: 12px;
}

.ListarCategoria table {
    margin-top: 25px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-radius: 1000px;
}

.ListarCategoria tr {
    border-bottom: 1px solid #ccc;
}

.grid-container-td-ListarCategorias {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.grid-container-td-ListarCategorias img {
    width: 25px;
    height: 25px;
    cursor: pointer;    
}
