
.header-bar { background: #fff; border-bottom: 1px solid #eef2f6; position: sticky; top: 0; z-index: 30; }
.header-top { display:flex; align-items:center; justify-content:space-between; padding:20px 0; gap:16px; }

.container { width:92%; max-width:1180px; margin: 0 auto; }

.marca .logo { font-weight:800; font-size:20px; display:inline-block; }
.marca img { width: 50px; height: auto; object-fit: contain; margin-right: 8px; }
.marca { display: flex;  align-items: center; }

.buscador { display:flex; gap:14px; align-items:center; flex:1; justify-content:center; }
.buscador input { width:480px; max-width:60%; padding:10px 12px; border-radius:8px; border:1px solid #e6e9ef; }
.buscador button { padding:9px 12px; border-radius:8px; border:none; background:#2ea32b; color:white; cursor:pointer; }

.acciones { display:flex; gap:10px; align-items:center; }

.btn-cart, .btn-user { padding:8px 12px; border-radius:8px; border:none; background:#efffef; cursor:pointer; font-family: 'Orbitron'; }
.btn-user { background:#fff; border:1px solid #e6e9ef; }

.barra-menu { background:#2ea32b; color:white; }
.barra-menu ul { display:flex; gap:28px; list-style:none; padding:10px 0; justify-content:center; margin:0;}
.barra-menu li { font-weight:600; cursor:pointer; }
.Link-sin-estilo {text-decoration: none; color: inherit;}

.oferta { color: #fff2a8; font-weight:800; }

@media (max-width:900px) {
  .buscador input { width: 220px; }
  .container { width: 95%; }
}
