.product-list-container {
  background-color: #f8f9fa; 
  font-family: 'Orbitron';
}

.product-list-container h1 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.search-box {
  display: flex;
  flex-grow: 1; 
  max-width: 500px;
}

.search-box input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px 0 0 8px;
  outline: none;
}

.btn-search {
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: #555;
  color: white;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.action-buttons-group {
  display: flex;
  gap: 0.75rem;
}

.btn-filter, .btn-primary {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-filter {
  background-color: #e9ecef;
  color: #333;
}

.btn-primary {
  background-color: #28a745; 
  color: white;
}

.btn-primary:hover {
  background-color: #218838;
}


.table-wrapper {
  background-color: #fff;
  border-radius: 8px;
  overflow-x: auto; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
  vertical-align: middle;
}

thead th {
  font-size: 0.8rem;
  font-weight: bold;
  color: #6c757d;
  text-transform: uppercase;
}

.product-id {
  font-weight: bold;
  color: #28a745;
}

.product-name-cell {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.producto-imagen {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.product-description {
  font-size: 0.9rem;
  color: #6c757d;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.product-actions {
  display: flex;
  gap: 0.5rem;
}

.action-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #6c757d;
  padding: 5px;
  border-radius: 4px;
}

.action-icon:hover {
  background-color: #f1f3f5;
  color: #333;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  gap: 8px;
}

.pagination button {
  border: 1px solid #e2e8f0;
  background-color: white;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-weight: bold;
  color: #4a5568;
}

.pagination button.active {
  background-color: #28a745;
  color: white;
  border-color: #28a745;
}

.pagination button:hover:not(.active) {
  background-color: #f7fafc;
}

.pagination span {
    color: #a0aec0;
    padding: 0 5px;
    margin-bottom: 2rem;
}