

.BotonExterno {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}

.formulario-aside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.formulario-h2 {
    text-align: center;
    margin-bottom: 75px;
}

.alerta {
    text-align: center;
    color: red;
}

.Formulario {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    background-color: white;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    place-items: center;

    column-gap: 25px;
    row-gap: 20px;
}

.grid-container label {
    font-weight: bold;
}

.grid-container input[type="text"] {
    text-align: center;
    padding: 2.5px;  
}

.grid-container button {
    width: 150px;

    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-top: 30px;

    cursor: pointer;
}

.tabla th {
  background-color: #f2f2f2; 
  text-align: center;
  padding: 10px;
}

.tabla td {
    text-align: center;
    max-width: 200px;
    word-wrap: break-word;
    padding: 20px;
}

.descripcion {
    text-align: justify;
}

.tabla td button {
    width: 150px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    cursor: pointer;
}

.tabla td img{
    width: 132px;
    height: 120px;
    border-radius: 10px;
}

.grid-container2{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}