
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.5em 1em;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-logo {
  height: 2.5em;
  width: auto;
}

.header-title {
  margin: 0;
}

.header-searchbar {
  margin-left: 24px;
}

